<li id= "noticium - <%=noticium.id%>">
  <span class="titulo">noticium.titulo</span>
  <span class="bajada">noticium.bajada</span>
  <span class="cuerpo">noticium.cuerpo</span>
  <span class ="timestamp">Posted <%=time_ago_in_words(noticium.created_at)%> ago. </span>
</li>
